.coolThing {
  background-image: url('https://raw.githubusercontent.com/h313/h313.github.io/master/assets/background1.png');
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topThing {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
