html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  padding: 25px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}
.navbarLink {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
  text-align: center;
}
