<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ 'index.html' | prepend:site.url }}">
        <img alt="Haoda Wang" src="{{ 'assets/avatar.png' | prepend:site.url }}">
      </a>
      <ul class="nav navbar-nav">
        <li><a href="{{ 'index.html' | prepend:site.url }}">Home</a></li>
        <li><a href="{{ 'posts' | prepend:site.url }}">Posts</a></li>
        <li><a href="{{ 'projects' | prepend:site.url }}">Projects</a></li>
    </div>
  </div>
</nav>
