<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ 'css/style.css' | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
